@using Microsoft.AspNet.Identity
@if (Session["imie"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
           Witaj @Session["imie"]
        </li>
        <li>@Html.ActionLink("Wyloguj się", "Logout", "Account")</li>
    </ul>
}
    
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
