@{
    @model IEnumerable<Ksiegarnia.Models.Ksiazki>
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Styles Conference</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
    @*<link rel="stylesheet" href="~/Content/bootstrap.css" />*@
</head>
<body>
    <!-- Header -->
    <header class="primary-header container group">
        <h1 class="logo">
            <a href="index.html">Elektroniczna <br> Księgarnia</a>
        </h1>
        @if(Session["imie"] != null){ <h3 class="tagline">Witaj @Session["imie"]!</h3>}
      <!--  <nav class="nav primary-nav">
            <ul>
                <li><a href="">Dramat</a></li>
               
                <li><a href="">Komedia</a></li>
                
                <li><a href="schedule.html">Biografia</a></li>
                
                <li><a href="venue.html">Romans</a></li>
               
                <li><a href="register.html">Horror</a></li>
            </ul>
        </nav> 
          -->
    </header>
    <!-- Hero -->
    <section class="hero container">
        <h2>Wyszukiwanie książki</h2>
        <p>W tym miejscu możesz wpisać tytuł lub autora książki która Cię interesuje.</p>
        <form class="form-signin">
            <input type="text" class="form-control" placeholder="Książka lub autor" required autofocus>
        </form>
        <a class="btn btn-alt" @Html.ActionLink("Wyszukaj","Koszyk", "Home")</a>
</section>

<div class="row">
    @foreach(var item in Model)
    { 
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem=>item.tytul)</h2>
        <p>Autor książki</p>
        <img src="~/Content/Images/@item.foto" width="280" height="200" alt="Conference Attendees">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Więcej info  &raquo;</a></p>
    </div>
    }
</div>


